/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,300italic,400,400italic,600,700,700italic);
html,
body {
    color: rgba(0,0,0,0.87);
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding:0;
    height: 100%;
    background: #fff;
}

#wrapper {
    min-height:100%;
    position:relative;
}

header {
    top: 0;
    position:fixed;
    padding: 12px 0px 12px 0px;
    width: 100%;
    font-size: 18px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    background: #24292e;
    margin-bottom: 30px;
}


header #header-content {
    max-width: 800px; /*Same as content width*/
    margin: auto;
}

header #header-content div#logo p{
    margin: auto;
    color: black;
    float: left;
    font-weight: bold;
    text-decoration: none;
}

div#blog-title {
    font-weight: 600;
    font-size: 75px;
    margin: auto;
    text-align: center;
}

div#wrapper{
    min-height:
    position:relative;
}

header nav {
    text-align: center;
}

header #header-content nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 1%;
    padding: 2%;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 25px;
    margin: 2.5em 0 0.5em 0;
}

h3 {
    font-size: 20px;
    margin: 2em 0 0.3em 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
    margin: 20px auto 20px auto;
}

article {
    margin: 0 auto 0 auto;
    width: 800px;
    font-weight: 400;
    font-size: 18px;
    display: block;
    padding: 5em 0 150px 0;
}


article div.sourceCode {
    margin: 20px auto 20px auto;

}

article ul#post-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    #f6f8fa#f6f8fa   margin: 0 0 20px 0;
}

p code {
    background: #e8edf2;
    color: #bd4147;
    padding: 0;
}
body a {
    text-decoration: none;
}

body a:link {
    color: #0066FF;
}

body a:visited {
    color: #0366d6;
}

article ul#post-list li.individual-post {
    border-bottom: 1px solid #DFDFDF;
    padding: 1%;
    padding-left: 5%;
}

table {
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(151, 151, 151, 0.58);
}

table, th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #DFDFDF;
}

footer {
    color: black;
    text-align: center;
    width: 100%;
    position: absolute;
    border-top: 1px solid #ccc;
    padding: 12px 0px 36px 0px;
    height:20px;
    bottom:0;
    z-index: 1;
    font-weight: 300;
    font-size: small;
}

li.carnival-comment.carnival-branding a {color: #E74C3D; box-sizing: inherit;}
li.carnival-comment.carnival-branding {width: 175px;}
.carnival a:hover {text-decoration: underline;}
.carnival a {color: #E74C3D; cursor: pointer;}
.carnival-comment-form a {cursor: pointer; font-size: 14px; box-sizing: inherit;}
.carnival-branding{color: #615e5f;}


/* Generated by pandoc. */
table.sourceCode, tr.sourceCode, td.lineNumbers, td.sourceCode, table.sourceCode pre
   { margin: 0; padding: 0; border: 0; vertical-align: baseline; border: none; }
td.lineNumbers { border-right: 1px solid #AAAAAA; text-align: right; color: #AAAAAA; padding-right: 5px; padding-left: 5px; }
td.sourceCode { padding-left: 5px; }
.sourceCode span.kw { color: #007020; font-weight: bold; }
.sourceCode span.dt { color: #902000; }
.sourceCode span.dv { color: #40a070; }
.sourceCode span.bn { color: #40a070; }
.sourceCode span.fl { color: #40a070; }
.sourceCode span.ch { color: #4070a0; }
.sourceCode span.st { color: #4070a0; }
.sourceCode span.co { color: #60a0b0; font-style: italic; }
.sourceCode span.ot { color: #007020; }
.sourceCode span.al { color: red; font-weight: bold; }
.sourceCode span.fu { color: #06287e; }
.sourceCode span.re { }
.sourceCode span.er { color: red; font-weight: bold; }

/* Mobile css.*/

@media only screen and (max-device-width: 480px) {
    header #header-content {
        max-width: 90%; /*Same as content width*/
    }
    article {
        width: 90%;
        font-size: 14px;
    }

}


/*  */
 /* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+bash+haskell+python+ruby&plugins=line-highlight */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

pre[class],
code {
    color: #57484d;
    text-shadow: 0 1px white;
    font-family: SFMono-Regular, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    font-size: 14px;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}



@media print {
      pre,
      code {
          text-shadow: none;
      }
}

/* Code blocks */
pre[class],
code{
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) >
    pre[class],
code{
    background: #f6f8fa;
}

/*For `` code highlighting.*/
:not(pre) >
    pre[class*=""],
code {
    padding: 1px;
    border-radius: .3em;
    background: #f6f8fa;
}

pre[class*=""],
code {
    margin: .5em 0;
    overflow: auto;
}

pre {
    padding: 16px;
    background: #f6f8fa;
}

/* End of for `` code highlighting.*/

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.sourceCode css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.operator,
.token.entity,
.token.url,
.sourceCode css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em;
}

.line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em; /* Same as .prism’s padding-top */

    background: hsla(24, 20%, 50%,.08);
    background: -moz-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
    background: -webkit-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
    background: -o-linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
    background: linear-gradient(left, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));

    pointer-events: none;

    line-height: inherit;
    white-space: pre;
}

.line-highlight:before, .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: hsla(24, 20%, 50%,.4);
    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em;
}

blockquote {
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
    padding: 0 1em
}
